# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
venv/
.venv/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Outputs / results
results/
*.npz
*.log

# Streamlit cache
.streamlit/cache/
